*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    background: white;
    background-size: cover; /* Adjust the background size */
    background-repeat: no-repeat;
    background-position: center center;
    user-select: none;
    overflow-x: hidden;
}

.dash-container{
    display: grid;
    width: 96%;
    
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

img{
    display: block;
    width: 100%;
}
 aside{
    height: 100vh;
    width: 150%;
    background: linear-gradient(180deg, #5AB9EA 0%, #8860D0 57.03%);
    background-size: cover; /* Adjust the background size */
    background-repeat: no-repeat;
    background-position: center center;
 }

 aside .top{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.4rem;
 }

 aside .close
{
    display: none;
}

.right .top button {
    display: none;
}

/*========================== SIDE BARD======================*/

aside .sidebar{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;

}

aside h3{
    font-weight: 400;
}
aside .sider-bar a {
    color: aliceblue;
    display: flex;
    margin-left: 30px;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 2.7rem;
    transition: all 300ms ease;
}

aside .sider-bar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sider-bar a:last-child{
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
   
}

aside .sider-bar a.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    margin-left: 0;
}

aside .sider-bar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: #ffffff;
}
aside .sider-bar a.active span{
    color: #ffffff;
    margin-left: calc(1rem - 8px);
}

aside .sider-bar a:hover{
    color: whitesmoke;
    font-size: 17px;
}

 aside .sider-bar a:hover span{
    margin-left: 1rem;
    
}


/*========================== RESPONSIVENESS ======================*/
@media screen and (max-width: 1200px) {
    .dash-container {
        width: 94%;
        grid-template-columns: 3.8rem auto 23rem;
    }

    aside .logo {
        display: none;
    }
    
    aside h3 {
        display: none;
    }

    aside .sider-bar a {
        width: 5.6rem;
    }

    aside .sider-bar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

}

@media screen and (max-width: 768px) {
    .dash-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: linear-gradient(180deg, #5AB9EA 0%, #8860D0 57.03%);
        width: 18rem;
        z-index: 3;
        height: 100vh;
        padding-right: 1.8rem;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo {
        display: inline;
    }
    
    aside h3 {
        display: inline;
    }
    aside h6 {
        display: inline;
    }
    aside .sider-bar a {
        width: 18rem;
        height: 3.4rem;
    }

    aside .sider-bar a:last-child {
        position: absolute;
        margin-top: 1rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        color:#8860D0;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #8860D0;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}