*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    background: white;
    background-size: cover; /* Adjust the background size */
    background-repeat: no-repeat;
    background-position: center center;
    user-select: none;
    overflow-x: hidden;
}

.dash-container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

img{
    display: block;
    width: 100%;
}
 aside{
    height: 100vh;
    width: 150%;
    background: linear-gradient(180deg, #5AB9EA 0%, #8860D0 57.03%);
    background-size: cover; /* Adjust the background size */
    background-repeat: no-repeat;
    background-position: center center;
 }

 aside .top{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.4rem;
 }

 aside .close
{
    display: none;
}

.right .top button {
    display: none;
}

/*========================== SIDE BARD======================*/

aside .sidebar{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;

}

aside h3{
    font-weight: 400;
}
aside .sider-bar a {
    color: aliceblue;
    display: flex;
    margin-left: 30px;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 2.7rem;
    transition: all 300ms ease;
}

aside .sider-bar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sider-bar a:last-child{
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

aside .sider-bar a.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    margin-left: 0;
}

aside .sider-bar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: #ffffff;
}
aside .sider-bar a.active span{
    color: #ffffff;
    margin-left: calc(1rem - 8px);
}

aside .sider-bar a:hover{
    color: whitesmoke;
    font-size: 17px;
}

 aside .sider-bar a:hover span{
    margin-left: 1rem;
    
}

.dashboard {
    position: relative;
}

.dashboard img {
    padding: 8px 85px;
    width: 1198px;
    flex-shrink: 0;
}

.dashboard-text {
    position: absolute;
    top: 100px;
    padding: 25px 113px;
}

h1 {
    color: #FFF;
    text-shadow: 5px 6px 2px rgba(0, 0, 0, 0.50);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*========================== VIEW CHILD DATA ======================*/
.underlined-text {
    margin-top: 30px !important;
}

 .info-line {
    display: flex !important;
    text-align: justify !important;
    margin: 10px 10px auto !important;
}
  
.info-block {
    flex: 1 !important;
    border-bottom: 1px solid black !important;
    padding: 5px !important;
}
  
.label {
    font-weight: bold !important;
}

.table {
    width: 100% !important;
    padding: 50px 30px !important;
    
}

.table-responsive {
    height: 420px !important; 
    overflow: auto !important;
}

table {
    width: 100% !important;
    table-layout: fixed !important;
    max-width: 1250px !important;
    min-width: 900px !important; 
    border-collapse: collapse !important;
    background-color: #ffffff !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) !important;
   
}

.table button {
    border: none !important;
    outline: none !important;
    width: 100% !important;
    max-width: 200px !important;
    border-radius: 10px !important;
    background-color: #84CEEB !important;
    cursor: pointer !important;
    padding: 10px !important;
    color: #ffffff !important;
    transition: .3s ease !important;
}

.table .btn:hover {
    background: #8860D0 !important;
    cursor: pointer !important;
}

thead th {
    
    position: sticky !important;
    top: 0 !important;
    background-color:#5AB9EA!important;
    color: #ffffff !important;
    font-size: 14px !important;
    
}

thead th:nth-child(1) {
    border-radius: 10px 0 0 0 !important;
}

thead th:nth-child(10) {
    border-radius: 0 10px 0 0 !important;
}

th, td {
    border-bottom: 1px solid #dddddd !important;
    padding: 10px 20px 10px 20px !important;
    word-break: break-all !important;
    text-align: center !important;
    font-size: smaller;
}

tr:hover td {
    color: #5AB9EA !important;
    cursor: pointer !important;
    background-color: #F6F9FC !important;
}

.modal {
    padding: 1em !important;
    width: 650px !important;
    height: 550px !important;
    margin-left: 500px !important;
    margin-top: 50px !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4) !important;
}

.modal::backdrop {
    background: linear-gradient(180deg, #5AB9EA 0%, #8860D0 57.03%) !important;
    opacity: .4 !important;
}

.header {
    height: 75px !important;
    background: #8860D0 !important;
    border-radius: 3px 3px 0 0 !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) !important;
}

.title {
    height: 45px !important;
    background: #C1C8E4 !important;
    border-radius: 3px 3px 0 0 !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) !important;
    margin-top: 20px !important; 
}

.header h2 {
    color: white !important;
    padding-top: 15px !important;
    padding-left: 10px !important;
    font-weight: normal !important;
    font-size: 30px !important;
}

.title h2 {
    color: black !important;
    padding: 10px !important;
    font-size: 18px !important;
}



.content p {
    padding-top: 10px !important;
    font-size: 14px !important;
    text-align: justify !important;
}

.center-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px !important;
}

.button {
    border: none;
    border-radius: 10px;
    background: #8860D0;
    color: #ffffff;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background: #5AB9EA;
    transition: .3s ease;
}

.close-button {
    margin-top: 20px;
    margin-left: 300px;
    width: 100px;
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #8860D0);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #5AB9EA);
}


main{
    position: absolute;
   left: 270px;
   right: 50px;
   
}
.dash-container1{
    position: fixed;
    height: 100%;
    display: flex; 
}



.container1 {
    display: flex; /* Use flexbox */
    text-decoration: none;
}

.column {
   position: absolute;
   left: 270px;
   right: 50px;
   
}

.column1{
    position: fixed;
    height: 100%;
}

.dashboard {
    position: relative;
}

.dashboard img {
    padding: 8px 85px;
    width: 1500px;
    
    
}

.dashboard-text {
    position: absolute;
    top: 100px;
    padding: 25px 113px;
}

.dashboard-text h1 {
    color: whitesmoke;
    text-shadow: 0px 0px 3px rgba(101, 53, 113, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*========================== RESPONSIVENESS ======================*/
@media screen and (max-width: 1200px) {
    .dash-container {
        width: 94%;
        grid-template-columns: 3.8rem auto 23rem;
    }

    aside .logo {
        display: none;
    }
    
    aside h3 {
        display: none;
    }

    aside .sider-bar a {
        width: 5.6rem;
    }

    aside .sider-bar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

}

@media screen and (max-width: 768px) {
    .dash-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: linear-gradient(180deg, #5AB9EA 0%, #8860D0 57.03%);
        width: 18rem;
        z-index: 3;
        height: 100vh;
        padding-right: 1.8rem;
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to{
            left: 0;
        }
    }

    aside .logo {
        display: inline;
    }
    
    aside h3 {
        display: inline;
    }

    aside .sider-bar a {
        width: 18rem;
        height: 3.4rem;
    }

    aside .sider-bar a:last-child {
        position: absolute;
        margin-top: 1rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
        color:#8860D0;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: #8860D0;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}
@media screen and (min-width: 1920px) and (min-height: 1080px) {
    table {
        width: 100% !important;
        max-width: 1200px !important;
        
       
    }
}

@media screen and (min-width: 1600px) and (min-height: 900px) {
    table {
     
        max-width: 1150px !important;
        
       
    }
}